
@{
    ViewBag.Title = "UnassignAllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<ul class="links" style="margin-left: 10%">
    <li>@Html.ActionLink("Save", "SaveCouse")</li>
    <li>@Html.ActionLink("Course Assign To Teacher", "AssignCourse")</li>
    <li>@Html.ActionLink("View Course Statics", "ViewCourse")</li>
    <li>@Html.ActionLink("Unassign All Courses", "UnassignAllCourses")</li>
</ul>*@
<br />
<h3 align="center">Unassign All Courses</h3>

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    <input type="submit" name="submit" id="submit" class="btn btn-danger btn-lg" value="Unassign Courses" style="margin-left: 43%" />
}
@if (ViewBag.Message != String.Empty)
{
    <p align="center">@ViewBag.Message</p>
}
@section scripts
{
    <script type="text/javascript">
        $().ready(function () {
            $("#submit").click(function () {
                return confirm("This will unassign all courses. Do you want to proceed?");
            });
        });
    </script>
}