@model UniversityCourseAndResultManagementSystem.Models.Department

@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<ul class="links" style="margin-left: 30%">
    <li>@Html.ActionLink("Save", "Save")</li>
    <li>@Html.ActionLink("View All Department", "ViewAllDepartment")</li>
    <li>@Html.ActionLink("Save Teacher", "SaveTeacher")</li>
</ul>*@
<br/>
<h4 align="center">Save Department</h4>
<hr />
@using (Html.BeginForm(null, null, FormMethod.Post, new{id="saveDepartmentForm"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" align="center">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code, new{@class="form-control"} )
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DepartmentName, new{@class="form-control"})
                @Html.ValidationMessageFor(model => model.DepartmentName)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
